<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|striptags} | {/ifset}Nette Web</title>

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
</head>

<body>
{* vypsat flashMessage - používá se např. při úspěšném odeslání formuláře *}
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

    {* povinný blok pokud chci použít tento layout *}
	{include content}

    {* vložit javascripty, není povinný blok *}
	{block scripts}
	<script src="//nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}
</body>
</html>
