{*
    Tento blok se vloží do @layout.latte - musí být stejný název bloku (content)!
*}

{block content}
    {* iteruujeme nad všemi fotkami *}
    {foreach $photos as $photo}
        {* odkaz na konkrétní fotku podle id *}
        <a n:href="showPhoto, id => $photo->id_photo">
            {* vypsat jméno fotky *}
            {$photo->name}
        </a><br>
    {/foreach}

    {* odkaz na showForm *}
    <a href="{plink showForm}">zobrazit form</a><br>

    {* odkaz na tabulkovy vypis s filtrama *}
    <a n:href="vypisFotek">Tabulkový výpis s filtrama</a>
{/block}

{* pokud chci pridat skripty, modifikuji tento blok (vkládaný v @layout.latte) *}
{block scripts}
    {* vložit aktuální obsah bloku scripts *}
    {include #parent}

    {* vložit nějaký další javascript *}
    <script>
        {* pozor na složené závorky, používá je latte syntax *}
    </script>

    {* pokud chci použít latte syntax ve skriptu, nastavím si double syntaxi latte *}
    <script n:syntax="double">
        {{* musím používat dvakrát složené závorky *}}
        {{$photo = $photos->fetch()}} {{* prvni fotka ze vsech *}}
        alert({{$photo->name}});
    </script>
{/block}
