{block content}
    {* vypsat formulář s filtrama *}
    {control photoFiltersForm}

    <table>
        <thead>
        <tr>
            <th>Název</th>
        </tr>
        </thead>
        <tbody>
        {* vypsat všechny fotky *}
        <tr n:foreach="$photos as $photo">
            {* vypsat název fotky *}
            <td>{$photo->name}</td>
        </tr>
        </tbody>
    </table>
{/block}
